<ul class="nav" id="navbar">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/vincent">Vincent van Gogh</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/davinci">Leonardo da Vinci</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/claude">Claude Monet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/john">John William Waterhouse</a>
  </li>
</ul>